/* red:         #d62c19
 * orange:      #efa811
 * light-grey:  #f0f2f7
 * dark:        #201324
*/

html {
    background-color: #f0f2f7;
    color: #201324;
    margin-top: -22px;
}

body {
    padding: 0;
    margin: auto;
}

p {
    color: #d62c19
}

#banner {
    background-color: #d62c19;
    height: 75px;
    text-align: center;
    padding: 1em;
}

#banner2 {
    background-color: #efa811;
    height: 15px;
}

#container {
    text-align: center;
}

#tabnav {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background: #201324;
}

/* Style the tabs */
#tabnav .tablinks {
    background-color: #efa811;
    border: none;
    color: #201324;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
}

/* Change background color of buttons on hover */
div#tabnav button:hover {
    background-color: #f0f2f7;
    color: #201324;
}

/* Create an active/current tablink class */
#tabnav button.active {
    background-color: #201324;
    color: #fff;
}

#plusButton {
    background-color: #15c627;
    border: none;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
}
